{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
      "vue/valid-define-emits": "error",
      "vue/valid-define-props": "error"
    },
    "globals": {
      "defineEmits": "readonly",
      "defineProps": "readonly"
    },
    "plugins": ["vue"]
}
