@font-face {
  font-family: 'Recursive var';
  font-weight: 300 1000;
  font-style: oblique 0deg 15deg;
  font-display: swap;
  src: url("../public/fonts/Recursive_VF_1.078--subset-GF_latin_basic.woff2") format("woff2");
}

body {
  font-feature-settings: "dlig"1, "liga"1;
  @apply font-sans;
}

@tailwind base;
@tailwind components;
@tailwind utilities;